    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
body{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    background-color: #212f31;
}
.amount p{
    margin-bottom: 0.5rem;
}

.container{
    background: #373d47;
    color: white;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
}
form{
    margin: 2rem 0 1rem 0;
}
form select, button , input{
    width: 100%;
    border: none;
    outline: 0;
    border-radius: 0.55rem;
}
form input{
    border: 1px solid gray;
    font-size: 2rem;
    height: 3rem;
    padding-left: 0.5rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.dropdown i{
    font-size: 1.5rem;
    margin-top: 1.3rem;
}
.select-container img{
    max-width: 2.55rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid gray;
}
.select-container select{
    font-size: 1.2rem;
    width: auto;
}
.msg{
    margin: 2rem 0 2rem 0;
}
form button{
    height: 3rem;
    background-color: #af4d98;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}
